@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --lemon: #00ffc8;
  --gray: #696e79;
  --blue: #002344;
  --darkBlue: #00031a;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  transition: 0.4s ease all;
}
body {
  background: var(--darkBlue);
  min-height: 100vh;
}
section {
  width: 100%;
  max-width: 1536px;
  padding: 0 1rem;
  margin: 0 auto;
}
.section-title {
  color: var(--lemon);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  section {
    padding: 0 2rem;
  }
  .section-title {
    font-size: 2.5rem;
  }
  section:hover .swiper-button-next,
  section:hover .swiper-button-prev {
    visibility: visible;
    opacity: 1;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
    visibility: hidden;
    opacity: 0;
    background-color: var(--blue);
    right: 10px;
    padding: 30px;
    color: var(--lemon) !important;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.8rem !important;
  }
  .swiper-button-next {
    transform: translateX(20px);
  }
  .swiper-button-prev {
    transform: translateX(-20px);
  }
}
@media (min-width: 1280px) {
  .section-title {
    font-size: 3rem;
  }
}
